.App {
  text-align: center;
}

.chatPaper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 50vw !important; 
  height: 600px !important;
  margin: 0 auto !important;
  border-radius: .5rem;
  background: #E0E2DB !important;
}

.chatDisplay {
  padding: 10px;
}

.chatBox {
  display: flex;
  flex-direction: column;

}

.styleUserOneText {
  background-color: #0c7489;
  width: fit-content;
  max-width: 200px;
  position: relative;
  left: 100%;
  transform: translate(-100%);
}

.styleUserOneText > p:not(:last-child) {
  margin: 0 1em !important;
  padding: .3em 0;
}

.styleUserTwoText > p:last-child {
  background-color: #E0E2DB !important;
  color: black;
  margin: 0;
  text-align: left;
}

.styleUserTwoText {
  background-color: #040404;
  width: fit-content;
  border-radius: .5rem;
  color: white;
}

.styleUserTwoText > p {
  margin: 1em;
}

.fab {
  position: relative;
  top: 124px;
  left: 50%;
  transform: translate(-70px);
  background: #4ab599 !important;
  width: 7em !important;
  margin: 0 auto !important;
}

.navigation {
  margin-right: .3em;
  color: white;
}

.mui-text:not(:last-child) {
  margin: 10px 0 !important;
}

@media only screen and (max-width: 450px) {
  .position-in-fab {
    position: relative;
    top: 13.5vh;
    left: 12vw;
    width: 2rem !important;
  }
  .position-in-fab p {
    font-size: 0;
  }
  .navigation {
    margin-left: .2em;
  }

  

}


.chatButton {
  border-radius: .5rem !important;
}